<%= render "header/nav" %>

<main class="bg-beige">
  <p style="color: green"><%= notice %></p>

  <!-- Hero -->
  <section class="hero">
    <h1 class="text-center">The journey of creating a business that actually works.</h1>
  </section>
  <div class="hr"></div>

  <!-- Blogs -->
  <section class="blog__section">
    <div id="blogs" class="blog__feed">
      <% @blogs.each do |blog| %>
        <div class="blog__card">
          <%= content_tag(:small, blog.created_at.strftime("%b %d, %Y"), class: "blog__date") %>
          <%= content_tag(:h4, blog.title, class: "blog__title") %>
          <%= content_tag(:p, truncate(blog.content.to_plain_text, length: 250), class: "blog__content") %>
          <%#= content_tag(:p, blog.content, class: "blog__content") %>
          <%= link_to "Read blog", blog, class: "btn blog__show" %>
        </div>
      <% end %>
    </div>
  </section>

  <%= link_to "New blog", new_blog_path, class: "button" if authenticated? %>
</main>
