<%= render "header/nav" %>
<main>
<p style="color: green"><%= notice %></p>

<% content_for :title, "Blogs" %>

<h1>A blog for nerds.</h1>

<div id="blogs" class="blog__feed">
  <% @blogs.each do |blog| %>
    <div class="blog__card">
      <%= render blog %>
      <p>
        <%= link_to "Show this blog", blog, class: "blog__show" %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New blog", new_blog_path if authenticated?%>
</div>
