<%= render "header/nav" %>

<main class="bg-beige">
  <p style="color: green"><%= notice %></p>

  <%= render @blog %>

  <div class="blog__controls">
    <%= link_to "Edit this blog", edit_blog_path(@blog), class: "btn" if authenticated? %>
    <%= link_to "Back to blogs", blogs_path, class: "btn btn--secondary" %>
  </div>
  <div class="blog__controls">
    <%= button_to "Destroy this blog", @blog, method: :delete if authenticated? %>
  </div>
</main>
