<%= render "header/nav" %>

<main>
  <h1 class="text-center">Custom websites for the price of Squarespace</h1>

  <section>
      <div class="section__container">
        <!-- LA Years -->
        <div class="project__card">
          <div class="project__header">
            <h2 class="project__title">Europe Treks</h2>
            <%= link_to "Visit website", "https://europetreks.com", class: "project__link" %>
          </div>
          <div class="project__content">
            <%= image_tag("la-years.png") %>
          </div>
        </div>

        <!-- LA Years -->
        <div class="project__card">
          <div class="project__header">
            <h2 class="project__title">Europe Treks</h2>
            <%= link_to "Visit website", "https://europetreks.com", class: "project__link" %>
          </div>
          <div class="project__content">
            <%= image_tag("la-years.png") %>
          </div>
        </div>

        <!-- LA Years -->
        <div class="project__card">
          <div class="project__header">
            <h2 class="project__title">Europe Treks</h2>
            <%= link_to "Visit website", "https://europetreks.com", class: "project__link" %>
          </div>
          <div class="project__content">
            <%= image_tag("la-years.png") %>
          </div>
        </div>

      </div>
  </section>
</main>
