<%= render "header/nav" %>
<main>
  <section class="hero">
    <!-- <h1 class="text-center"><i>Custom websites</i> for the price of Squarespace</h1> -->
    <h1 class="text-center">We <i>manage</i> your website so you can <i>manage</i> your business.</h1>
    <p class="text-center">
      We design, develop, and manage beautiful websites for $25/mo.
      <br />
      All website revisions are done in under a week.
    </p>
    <%= link_to "Explore &#8595;".html_safe, "#projects", class: "btn btn--large" %>
  </section>

  <section data-controller="home" data-home-color-value="var(--color-beige)" data-home-default-color-value="var(--color-white)" id="projects">
    <div class="projects__container">
      <!-- LA Years -->
      <div class="project__card">
        <div class="project__grid">
          <!-- Project img -->
          <div class="project__img">
            <%= image_tag("la-years.jpg") %>
          </div>
          <!-- Project content -->
          <div class="project__content">
            <div class="project__header">
              <h2 class="project__title">LA Years</h2>
              <%= link_to "Visit website &#8594;".html_safe, "https://www.layears.org", class: "project__link", target: :_blank %>
            </div>
            <ul class="project__info">
              <li class="project__info-item">
                <p class="project__info-item--label">Client</p>
                <p class="project__info-item--value">LA Years</p>
              </li>
              <li class="project__info-item">
                <p class="project__info-item--label">Project</p>
                <p class="project__info-item--value">Website</p>
              </li>
              <li class="project__info-item">
                <p class="project__info-item--detail">A history website for a prominent Christian author and teacher in the 20th century.</p>
              </li>
            </ul>
            <%= link_to "Learn more", "https://www.layears.org", class: "btn btn--secondary project__btn", target: :_blank %>
          </div>
        </div>
      </div>
      <!-- Sancerra -->
      <div class="project__card">
        <div class="project__grid">
          <!-- Project img -->
          <div class="project__img">
            <%= image_tag("sancerra.jpg") %>
          </div>
          <!-- Project content -->
          <div class="project__content">
            <div class="project__header">
              <h2 class="project__title">Sancerra</h2>
              <%= link_to "Visit website &#8594;".html_safe, "https://sancerra.com", class: "project__link", target: :_blank %>
            </div>
            <ul class="project__info">
              <li class="project__info-item">
                <p class="project__info-item--label">Client</p>
                <p class="project__info-item--value">Sancerra</p>
              </li>
              <li class="project__info-item">
                <p class="project__info-item--label">Project</p>
                <p class="project__info-item--value">Design & Website</p>
              </li>
              <li class="project__info-item">
                <p class="project__info-item--detail">A website for a community builder that is pioneering creative solutions to the housing shortage in California</p>
              </li>
            </ul>
            <%= link_to "Learn more", "https://sancerra.com", class: "btn btn--secondary project__btn", target: :_blank %>
          </div>
        </div>
      </div>
      <!-- UTF -->
      <div class="project__card">
        <div class="project__grid">
          <!-- Project img -->
          <div class="project__img">
            <%= image_tag("utf.jpg") %>
          </div>
          <!-- Project content -->
          <div class="project__content">
            <div class="project__header">
              <h2 class="project__title">Upon The Foundation</h2>
              <%= link_to "Visit website &#8594;".html_safe, "https://uponthefoundation.com", class: "project__link", target: :_blank %>
            </div>
            <ul class="project__info">
              <li class="project__info-item">
                <p class="project__info-item--label">Client</p>
                <p class="project__info-item--value">Upon The Foundation</p>
              </li>
              <li class="project__info-item">
                <p class="project__info-item--label">Project</p>
                <p class="project__info-item--value">Website</p>
              </li>
              <li class="project__info-item">
                <p class="project__info-item--detail">A website focused on basic Christian truths.</p>
              </li>
            </ul>
            <%= link_to "Learn more", "https://uponthefoundation.com", class: "btn btn--secondary project__btn", target: :_blank %>
          </div>
        </div>
      </div>
      <!-- Europe Treks -->
      <div class="project__card">
        <div class="project__grid">
          <!-- Project img -->
          <div class="project__img">
            <%= image_tag("europe-treks.jpg") %>
          </div>
          <!-- Project content -->
          <div class="project__content">
            <div class="project__header">
              <h2 class="project__title">Europe Treks</h2>
              <%= link_to "Visit website &#8594;".html_safe, "https://europetreks.com", class: "project__link", target: :_blank %>
            </div>
            <ul class="project__info">
              <li class="project__info-item">
                <p class="project__info-item--label">Client</p>
                <p class="project__info-item--value">Europe Treks</p>
              </li>
              <li class="project__info-item">
                <p class="project__info-item--label">Project</p>
                <p class="project__info-item--value">Website & Brand</p>
              </li>
              <li class="project__info-item">
                <p class="project__info-item--detail">A travel business for focused on church history trips in Europe.</p>
              </li>
            </ul>
            <%= link_to "Learn more", "https://europetreks.com", class: "btn btn--secondary project__btn", target: :_blank %>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
