<nav class="nav" data-controller="nav">
  <!-- Logo -->
  <div class="nav__container">
    <div class="nav__logo">
      <%= link_to root_path do %>
        <%= render "header/logo" %>
      <% end %>
    </div>

    <!-- Toggle -->
    <div class="nav__toggle" data-action="click->nav#toggle"></div>
  </div>

  <!-- Menu -->
  <div class="nav__menu" data-nav-target="menu">
    <div class="nav__menu-container">
      <div class="nav__title">
        <p>NAVIGATE</p>
      </div>
      <div class="nav__links">
        <%= link_to "Home", root_path, class: "nav__link" %>
        <%= link_to "Process", process_index_path, class: "nav__link" %>
        <% #= link_to "Pricing", pricing_index_path, class: "nav__link" %>
        <%= link_to "Founder letter", founder_letter_index_path, class: "nav__link" %>
        <% #= link_to "Blog", blogs_path, class: "nav__link" %>
      </div>
      <%=
        # link_to "Contact", contact_index_path, class: "btn btn--outline btn--large"
      %>
      <%= link_to "Email us &#8594;".html_safe, "mailto:contact@hamptonlab.com", class: "btn btn--outline btn--large" %>
    </div>
  </div>

  <div class="nav__overlay" data-nav-target="overlay" data-action="click->nav#toggle"></div>
</nav>
