<nav class="nav">
  <div class="nav__container">
    <div class="nav__logo">
      <%= link_to root_path do %>
        <%= render "header/logo" %>
      <% end %>
    </div>
    <div class="nav__links">
      <%= link_to root_path do %>
        Founder letter.
      <% end %>

      <%= link_to blogs_path do %>
        Blog.
      <% end %>
    </div>
    <div class="nav__buttons">
      <%= mail_to "151210355+hamptonlabhq@users.noreply.github.com" do %>
        <%= render "header/mail_logo" %>
      <% end %>
    </div>

    <%= button_to "Log out", session_path, method: :delete if authenticated? %>
    <!-- <label class="nav__toggle" for="nav-active" aria-label="Nav Toggle" tabindex="0"></label> -->
  </div>
  <!-- <div class="nav__mobile">
    <a href="/customers" aria-label="Real world results">Real world results</a>
    <a href="/#features" aria-label="Features">Features</a>
    <a href="/pricing" aria-label="Pricing">Pricing</a>
  </div> -->
</nav>
